@charset "utf-8";

@font-face {
	font-family: Monoton;
	src: url(../webfonts/Monoton-Regular.eot);
	src: url(../webfonts/Monoton-Regular.woff) format("woff"),
		 url(../webfonts/Monoton-Regular.ttf) format("ttf");
}
@font-face {
	font-family: Play;
	src: url(../webfonts/Play-Regular.eot);
	src: url(../webfonts/Play-Regular.woff) format("woff"),
		 url(../webfonts/Play-Regular.ttf) format("ttf");
}

* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #bbb;
	outline: none;
}
img {
	border: 0;
}
body {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #111;
}
.vid {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.9;
}
.vid video {
	width: 100%;
	min-width: 1600px;
}
h1 {
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 10;
}
h1 img {
	width: 280px;
}
header {
	width: 700px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -420px;
	background: linear-gradient(-45deg, #e6fc55, #b9fb05, #97e031);
	transform: skewX(-40deg);
}
#gnb {
	width: 220px;
	position: absolute;
	top: 150px;
	right: 0;
}
#gnb > li {
	position: relative;
}
#gnb > li:hover > a {
	background: #111;
	color: #fff;
}
#gnb > li > a {
	display: block;
	width: 220px;
	height: 50px;
	font: 18px/3 Play;
	color: #222;
	text-align: right;
	padding-right: 40px;
	box-sizing: border-box;
}
#gnb > li.on > a {
	background: #111;
	color: #fff;
}
#gnb em {
	display: inline-block;
	transform: skewX(40deg);
}
#gnb im i {
	margin-right: 20px;
}
#gnb ul {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.4s;
}
#gnb li:hover ul {
	left: 205px;
	opacity: 0.8;
}
#gnb ul a {
	display: block;
	width: 150px;
	height: 40px;
	background: #222;
	border-bottom: 1px solid #b9fb05;
	font: 16px.2.5 Arial;
	color: #fff;
	padding-left: 50px;
	margin-bottom: 3px;
	box-sizing: border-box;
}
#gnb li.on ul {
	left: 205px;
	top: -10px;
	opacity: 0.8;
}
#gnb li.on ul a {
	background: #444;
	opacity: 0.7;
}
#gnb li.on ul a:hover ,#gnb ul a:hover {
	background: #b9fb05;
	color: #333;
}
#sns {
	position: fixed;
	top: 60px;
	right: 50px;
}
#sns li {
	float: left;
	margin-right: 30px;
}
#sns .fab {
	font-size: 28px;
	color: #b9fb05;
	opacity: 0.5;
	transform: skewX(1);
	transition: all 0.5s;
}
#sns .fab:hover {
	transition: scale(1.4);
	opacity: 1;
}
.txtBox {
	width: 340px;
	height: 280px;
	position: fixed;
	top : 200px;
	right: 70px;
}
.txt {
	position: absolute;
	top: 200px;
	right: 0;
	font-size: 34px;
	font-family: play;
	color: #bbb;
	letter-spacing: -2px;
}
.txt b {
	font: bold 34px arial;
	color: #b9f605;
	margin-left: 20px;
}
.tit {
	position: absolute;
	top: 0;
	font-size: 160px;
	color: #b9fb05;
	font-family: Monoton;
	letter-spacing: -1px;
}
.tit em {
	font-size: 50px;
	font: Paly;
	color: #fff;
}
#side {
	position: fixed;
	right: -900px;
	width: 800px;
	height: 100%;
	transform: skewX(-40deg);
	transition: all 0.5s;
	background: #000;
	opacity: 0.5;
}
#side:hover {
	right: -500px;
	opacity: 0.8;
}
#side .con {
	width: 400px;
	height: 100%;
	position: absolute;
	left: 140px;
	bottom: 0;
	padding: 10px;
	box-sizing: border-box;
	transition: all 1s;
}
#side:hover .con {
	left: 50px;	
}
#side .con p {
	width: 300px;
	height: 100px;
	position: absolute;
	left: 50px;
}
#side .con p em {
	display: inline-block;
	font: bold 16px/1.7 Arial;
	color: #a0dd50;
	transform: skewX(40deg);
}
#side .con p img {
	width: 300px;
	height: 70px;
	opacity: 0.3;
	transition: all 0.5s;
}
#side .con p img:hover {
	opacity: 1;
}
#side .con p:nth-child(1){
	bottom: 270px;
	transform: translateX(200px);
	transition: all 0.4s;
}
#side .con p:nth-child(2){
	bottom: 160px;
	transform: translateX(200px);
	transition: all 0.8s;
}
#side .con p:nth-child(3){
	bottom: 60px;
	transform: translateX(200px);
	transition: all 1.2s;
}
#side:hover .con p {
	transform: translateX(0);
}
#side .btn {
	position: absolute;
	left: 100px;
	bottom: 40px;
	width: 150px;
	height: 50px;
	color: #b9fb05;
	transform: skewX(40deg);
}
#side:hover .btn {
	left: 700px;
}
.btn i {
	font-size: 60px;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 1;
}
.btn i:nth-child(1) {
	animation: ani  linear 1.5s 0s infinite;
}
.btn i:nth-child(2) {
	animation: ani linear 1.5s 0.5s infinite;
}
.btn i:nth-child(3) {
	animation: ani linear 1.5s 1s infinite;
}

@keyframes ani {
	0% {
		right: 0; 
		transform: scale(1);
		opacity: 1;
	}
	100% {
		right: 100px; 
		transform: scale(1.5);
		opacity: 0;
	}
}